* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  background: white;
}

header {
  width: 100%;
  height: 100px;
  background-color: black;
}

#header-content {
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#logo {
  height: 100px;
  aspect-ratio: 1 / 1;
  padding: 10px
}

#header-content > h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  color: white;
}

#github-logo {
  display: flex;
  align-items: center;
}

#github-logo > img {
  width: 80%;
  aspect-ratio: 1 / 1;
}

main {
  width: 80vh;
  margin: 0 auto;
}

section {
  padding: 20px;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

ul {
  padding: 20px 0;
}

p {
  font-size: 1.1rem;
}